.btn-warning{
box-shadow: 10px 10px 10px lightgrey;
margin: 0px;
width: 100%;
text-align:center;


}
.note{
color: rgb(124, 215, 96);
}
.copy_right_footer{
    position: fixed;
    bottom: 0;
    width:100%;
    border-style: dotted double dashed solid;
    border-color: black;
    text-align: center;
    background-color: aqua;
}
canvas{
    box-shadow: 18px 18px 18px grey;
    border-style: dashed 5px rgb(0, 0, 0);
}